*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #424242; 
}
body{
  width: 100%;
  height: 100vh;
  background-color:transparent;
}
/*  */
/* NAV BAR */
/*  */

.navbar{
  height:70px;
  text-align: right;
  line-height: 70px;
  position: fixed;
  background-color: #fff;
  z-index: 3;
  width:100%;
  margin-bottom: 10px;
}
.menu {
  margin: 0 30px 0 0;
  
}
.menu a{
  clear: right;
  text-decoration: none;
  margin: 0 10px;
  line-height: 70px;
  
  padding: 20px 30px;
  color: #424242; 
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  cursor: pointer;
  border-radius: 5px;
  transition: .5s;
 
}
.logo{
  padding: 0px 20px;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: .5s;
  float:left;
  letter-spacing: 10px;
  font-family: 'Crimson Text', serif;
}
a:link{
  text-decoration: none;
}
a:hover{
  color: #99A994;
}
label{
  margin: 0 40px 0 0;
  font-size: 20px;
  line-height:70px;
  display: none;
  width: 26px;
  float: right;

}
#toggle{
  display: none;
}

@media only screen and (max-width: 780px){
  label{
    display: block;
    cursor: pointer;
  }
  .menu{
    text-align: center;
    width: 100%;
    display:none;
    /* z-index: 4;
    cursor: pointer; */
  }
  .menu a {
    display: block;
    border-bottom: 1px solid #99A994;
    margin: 0;
    background-color: #ffff;
  }
  #toggle:checked + .menu {
    display: block;
  }
}

/*  */
/* HOME PAGE*/
/*  */
.index-container{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
  height: 100vh;
}
.home-display{
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: flex-start;
  z-index:-3;
  color: #424242; 
  position: absolute;
}
.display-img{
  height: auto;
  width: 70vw;
  position: relative; 
}
.text-wrapper{
  position: absolute;
   top: 45%;
   left: 60%;
   width: 60vw;
 }
.text-wrapper h1{
 font-size: 3.5vw;
 width: 100%;
 letter-spacing: 8px;
 padding: 0 0 20px 0px;
 font-family: Bold 'Crimson Text', serif;
 }
/* H2 with animation */
.text-wrapper h2{
  font-size: 1.2vw;
  letter-spacing: 10px;
  padding-top: 8px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite; 
}
@keyframes typing {
  from {width: 0}
  to {width: 100%}
}
.pink-font{
  color: #E894A7; 
  letter-spacing: 8px;
}

@media only screen and (max-width: 950px){
  .display-img{
    width: 100vw;
    position: block;
    margin-left: -110px;
  }
  .text-wrapper{
    left: 50%;
  }
  .text-wrapper h2{
    font-size: 12px;}
}

@media only screen and (max-width: 700px){
  .display-img{
    width: 90vw;
    margin: 30px 10px;
  }
  .text-wrapper{
    left: 20%;
    top: 95%;
    width: 60vw;
    margin-right: -30px;
  }
  .text-wrapper h1{
    font-size:30px;
    letter-spacing: 5px;
  }
  .text-wrapper h2{
    letter-spacing: 3px;
  }
  .pink-font{
    letter-spacing: 3px;
  }
}


/*  */
/* BUTTON for next page */
/*  */
.bottom-right{
  position: absolute;
  top:78%;
  left:80%;
}
.button{
  position: fixed;
  display: block;
  color: #424242; 
  font-size: 1em;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  border: 1px solid #424242;
  padding: 14px 60px;
  overflow: hidden;
  transition: 1s all ease; 
  z-index: 2;
}
.button::before{
  background: #FAC1D5;
  content: "";
  width: 100%;
  height: 0%;
  position: absolute;
  top:75%;
  left:80%;
  transform: translate(-75%, -55%) rotate(45deg);
  z-index: -2;
  transition: all 0.6s ease;
}
.button:hover::before{
  height:600%
}

@media only screen and (max-width: 904px){
  .bottom-right{
    top: 85%;
    left: 70%;
  }
  .button::before{
    display: none;
  }
}
@media only screen and (max-width: 450px){
  .bottom-right{
    top: 90%;
    left: 60%;
  }
  .button{
    border: 1px solid #424242;
    padding: 10px 40px;
    font-size: 0.75em;
  }
}

/*  */
/* SOCIAL MEDIA ICONS  */
/*  */

.social {
  position: fixed;
  top: 40%;
  left: 2%;
  width: 100%;
  text-align: left;
  margin-left: 50px;
  z-index: 3;
  flex-wrap: nowrap;
  height: 30vh;
  width: 10vw;
  order: 1;
}
.social ul li{
  list-style-type: none;
  z-index: 3;
}
.socialbutton {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #424242;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.socialbutton a {
    background: #424242;
}
.socialbutton i {
  line-height: 50px;
  margin-right: 12px;
  font-size: 18px;
  transition: 0.2s linear;
  color: #424242; 
}
.socialbutton:hover i {
  color: #FAC1D5;
}
.socialbutton::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  background: transparent;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.socialbutton:hover::before {
  animation: socialanimation 0.7s 1;
  top: -10%;
  left: -10%;
}
.logo img {
  width: 100px;
  float: left;
  height: auto;
}

@media only screen and (max-width: 780px){
  .social{
    margin-left: 0px;
  }
}

#fixed-footer{
  text-align: center;
  background-color: #FFEDEB;
  color: #99A994;
  padding: 10px;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 3; 
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  letter-spacing: 10px;
}

@media only screen and (max-width: 450px){
 #fixed-footer{
   display: none;
 }
}

/*  */
/* CONTACT PAGE */
/*  */

.contact-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background-color: transparent;
  z-index: 1;
}
.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 150px 150px;
  flex-wrap: nowrap;
  background-color: transparent;
}
.container:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:transparent;
  z-index: -2;
  /* filter: blur(0px); */
}
.contact-box{
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, .30)
}
.left{
  height: 100%;
  background: url("docs/pexels-photo-2512280.jpeg");
  background-size: cover;
}
.right{
  padding: 25px 40px;
}
h2{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  letter-spacing: 8px;
  color: #424242; 
  font-family: 'PT Sans', sans-serif;
}
h2:after{
  position: relative;
  left:50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
}
.field{
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rbga(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
  font-size: 12px;
  letter-spacing: 5px;
  font-family: 'PT Sans', sans-serif;
}
.field:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.field:focus{
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}
.area{
  min-height: 150px;
}
.btn{
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: #FCEEEB; 
  cursor: pointer;
  outline: none;
  border: none;
  transition: .3s;
  color: #bb2424; 
  font-family: 'PT Sans', sans-serif;
}
.btn:hover{
  background-color: #A1A9CF;
}

@media screen and (max-width:930px){
  .contact-box{
    grid-template-columns: 1fr;
    margin-top:20px;
  }
  .left{
    height: 200px;
  }
}
@media screen and (max-width:600px){
  .container{
    padding: 60px 50px;
  }
}

/*  */
/* ABOUT ME PAGE */
/*  */
.about-container{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  margin-top: 5%;
  width: 100%;
  height: 100vh;
}
.page-title{
  position: relative;
  height: 10vh;
  width: 30vw;
  left: 10%;
  top: 10%;
  z-index: 2;
}
.page-title h3{
  font-size: 3vw;
 letter-spacing: 4px;
 font-family:'Crimson Text', serif;
 color: #E894A7; 
}
.i-am {
  position: relative;
  left: 10%;
  top: 20%;
  z-index: 2;
  Height: 10vh;
  width: 30vw;
  margin-left: -10vw;
  margin-right: -35vw;
}
.i-am p{
  font-size: 6vw;
  letter-spacing: 2px;
 font-family: Bold 'Crimson Text', serif;
}
.profile-img{
  position: relative;
  height: 50vh;
  top: 35%;
  margin-left: 2%;
}
@media only screen and (max-width: 550px){
.profile-img{
  height: 30vh;
  top: 60%;
  margin-right: -40px;
}
.i-am{
  left:15%;
  top: 20%;
}
.i-am p{
  font-size: 40px;
  font-style: bold;
}

}
/*  */
/* ABOUT ME ANIMATION */
/*  */
.animation-box {
  width: 60%;
  height: 60vh;
  background-color: #FCEEEB;
  margin: 100px auto;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}
@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.first-text {
  font-size: 4vw;
  position: absolute;
  left: 20%;
  top: 10rem;
  opacity: 0;
  letter-spacing: 5px;
  animation-name: fadeInOut;
  animation-duration: 10s;
  color: #00341C;
  font-family: 'Abril Fatface', cursive; 
}
.second-text {
  font-size: 2vw;
  position: absolute;
  bottom: 6.5rem;
  left: 30%;
  opacity: 0;
  letter-spacing: 5px;
  animation-name: fadeInOut;
  animation-delay: 1.5s;
  animation-duration: 4s;
  color: #035F2C;
  font-family: 'Abril Fatface', cursive;
}
.third-text {
  font-size: 2vw;
  position: absolute;
  left: 40%;
  top: 20%;
  opacity: 0;
  letter-spacing: 5px;
  animation-name: fadeInOut;
  animation-delay: 3s;
  animation-duration: 4s;
  color: #074B2B;
  font-family: 'Abril Fatface', cursive;
}
.fourth-text {
  font-size: 2vw;
  position: absolute;
  bottom: 4rem;
  left: 50%;
  opacity: 0;
  color: #007A4D;
  letter-spacing: 5px;
  animation-name: fadeInOut;
  animation-delay: 4.5s;
  animation-duration: 3s;
  font-family: 'Abril Fatface', cursive;
}
.fifth-text {
  font-size: 12px;
  position: absolute;
  left: 10%;
  top: 10%;
  opacity: 0;
  animation: fadeInUp 3s ease-in-out 0s forwards; 
  animation-delay: 6s;
  color: #929796;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing:1px;
  margin-right: 50px;

}
@media only screen and (max-width: 800px){
  .animation-box{
height: 100vh;
  }
  .second-text{
    top: 50%;
    left: 10%;
  }
  .third-text{
    left: 5rem;
    top: 60%;
  }
  .fourth-text{
    bottom: 30%;
  left: 10%;
  }
}
@media only screen and (max-width: 550px){
  .animation-box{
    height: 130vh;
    margin-left:-150px;
    width: 80%;
      }
 
.second-text{
  font-size: 16px;
  letter-spacing: 2px;
  top: 30%;
}
.third-text{
  font-size: 16px;
  letter-spacing: 2px;
  top: 40%;
}
.fourth-text{
  font-size: 16px;
  letter-spacing: 2px;
  top: 50%;
}
.first-text{
  letter-spacing: 2px;
}
}

/*  */
/*  */
/* BLOG POST */
/*  */
/*  */
.blog-container{
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  padding: 15vw 1.5rem;
  margin: 10vh 0 10vh 100px;
  flex-direction: row;
  flex-wrap: nowrap; 
}
.blog-post{
  width: 60%;
  max-width: 98rem;
  height: 30vh;
  background-color: white;
  box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  border-radius: .5rem;
}
.blog-post-image{
  max-width: 30rem;
  transform: translateX(-8rem);
  position: relative;
}
.blog-post-image img{
  width: 35vw;
  height: 100%;
  object-fit: contain;
  display: inline-block;
  border-radius: .5rem;
}
.blog-post-info{
  transform: translateX(-4rem);
  /* margin: 10px 0 10px 0; */
  position: relative;
}
.blog-post-date span{
  display: inline-block;
  color: #E894A7;
  font-size: 1vw;
  font-weight: 600;
  margin: .5rem 0;
  font-family: 'PT Sans', sans-serif;
}
.blog-post-title{
  font-size: 1.5vw;
  margin: 1.5 0 2 rem;
  text-transform: uppercase;
  color:  #00341C;
  font-family: 'Crimson Text', serif;
}
.blog-post-text{
  margin: 10px 0 10px 0;
  font-size: 1vw;
  color: #424242 ;
  font-family: 'PT Sans', sans-serif;
}
.blog-post-link{
  display: inline-block;
  padding: 5px 5px;
  border: 1px solid #424242;
  /* margin-left: 70px; */
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5vh;;
  color: #424242;
  background-color:white;
  font-family: 'PT Sans', sans-serif;
}

@media only screen and (max-width: 950px){
  .blog-container{
    width: 80vw;
    height: 35vh;
    padding: 0;
    margin: 50px 0 0 15%;
  }
  .blog-post{
    width: 100%;
    /* display: block; */
  }
  .blog-post-image{
    transform: translateX(0rem);
    height: 100%;
  }
  .blog-post-info{
    padding-left: 80px;
  }
  .blog-post-date span{
    font-size: 12px;
  }
  .blog-post-title{
    font-size: 12px;
  }
  .blog-post-text{
    font-size: 12px;
  }
}

  @media only screen and (max-width: 560px){
    .blog-container{
      width: 90vw;
      padding: 0;
      margin: 50px 0 0 10%;
      height: 25vh;
    }
    .blog-post-info{
      transform: translateX(0);
      padding-left: 20px;
    }
  }

/*  */
/* ARTICLES PAGE */
/*  */
/* Using Grid formatting */
.posts{
  display: grid;
  max-width: 1000px;
  margin: 100px auto;
  grid-template-columns: 1fr 3fr 14fr 3fr 1fr; 
  grid-gap: 10px 50px;
}
.posts p{
  line-height: 1.8;
  font-family: 'PT Sans', sans-serif;
}
/* anchoring post to exclude last colums on each side */
.posts > * {
  grid-column: 3 / -3; 
}
.posts>figure{
  margin: 10px;
  grid-column: 2/-2;
}
.posts>blockquote{
  margin: 0;
  grid-column: 2/-2;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  margin: 0;
}
.side-link-right {
  background: #fafafa;
  padding: 10px;
  grid-column: 4 /span 1;
  font-size: 13px;
  text-align: left;
  border-left: 2px solid #E894A7;
}
.side-link-left{
  background: #fafafa;
  padding: 10px;
  grid-column: 2 / span 1;
  font-size: 13px;
  text-align: right;
  border-right: 2px solid #E894A7;
}
figure img{
  max-width: 100%;
}
.posts >h5{
  font-family: 'Crimson Text', serif;
  font-size: 50px;
  margin: 0;
  grid-column: 2/-2;
  text-align: center;
}
h6{
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 0;
}

/*  */
/* SKILLS */
/*  */

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-flow: row;
  padding: 10px;
  margin-left: 150px;
  margin-bottom: 30px;
}

.grid-item {
  background-color: transparent;
}
.span-2{
  grid-column-end: span 4;
  grid-row-end: span 4;
}
.span-3 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}
.grid-item-1{
  /* text-align: center; */
  margin: 15vh 80px 0 80px;
}
.grid-item-1 p{
  color: #929796;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing:1px;
  text-align: center;
  margin-top:0px;
}
.grid-item-2{
  cursor: pointer;
  display: flex;
}
.popup p{
  color: #929796;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing:1px;
  text-align: center;
  margin-top:10px;
}
.popup i{
  /* line-height:  15px; */
  color:#929796;
  text-align: center;
}
.grid-item-2:hover .popup{
  background: #FFEDEB;
  /* box-shadow: 0 0 0 1px #333; */
  visibility: visible;
  opacity: 1;
  /* top: 100px;
  right: 600px; */
  width: 230px;
  height:280px;
}
.grid-item-3{
  background-color: #DED6C9;
}
.grid-item-4{
  cursor: pointer;
  display: flex;
  right: 10px;
}
.grid-item-4:hover .popup{
  background: #DCDCD9;
  /* box-shadow: 0 0 0 1px #333; */
  visibility: visible;
  opacity: 1;
  width: 230px;
  height:280px;
}
.grid-item-5{
  background-color: #DCDCD9;
}
.grid-item-6{
  cursor: pointer;
  display: flex;
}
.grid-item-6:hover .popup{
  background: #DED6C9;
  /* box-shadow: 0 0 0 1px #333; */
  visibility: visible;
  opacity: 1;
  width: 230px;
  height:300px;
}
.grid-item-7{
  background-color: #FFEDEB;
}
.span-3 img{
  max-height:;
  max-width: 100%;
}
.popup{
 position: absolute;
 /* width: 60vh;
 height:300px; */
 background: white;
 box-sizing: border-box;
 padding: 20px;
 /* border-radius: 4px; */
 visibility: hidden;
 opacity: 0;
}

@media only screen and (max-width: 450px){
  .grid-layout {
    margin-left: 30px;
  }
}

